Body {
    color: white;
    background-color: #3AAFA9;
    font-family: "Times New Roman", Times, serif;
}
.header {
    text-align: center;
    background: url("https://cdn.pixabay.com/photo/2017/06/21/07/33/background-2426328_960_720.jpg") repeat scroll 0 0;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%
}
sources{
    text-align: left;
}

#mission statement{
    margin: 15px 225px;
}

#photo{
        text-align: center;
}
img {
    border: 10px outset #17252A;
}

.information{
    margin: 15px 225px;
    border: 2px solid #DEF2F1;
    padding: 15px;
}

h1 {
        text-align: center;
}

ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #17252A;
  position: fixed;
  bottom: 0;
  left: 0px;
  width: 100%;
}

li {
  float: left;
  width: 22.5em;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
li a:hover {
  background-color: #66FCF1;
}


    