
body{
    font-family: 'Noto Sans', sans-serif;
    text-align: center;
    color: white;
    background-color: lightgray;
}

#header {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    color: blue;
}

h1 {
    color: blue;
}

.body-1{
    background-color: gray;
    border: 10px solid orange;
}




